.App {
  text-align: center;
}

/* Primary Button */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3B82F6;
}

/* Secondary Button */
.btn-secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #E5E7EB;
}


/* Spacing utilities */
.spacing-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.spacing-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.spacing-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spacing-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Text utilities */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Flex utilities */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card styles */
.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
}

.content {
  transition: margin-left 0.4s ease-in-out;
}

.content.shifted {
  margin-left: 250px;
}

.ProductListPage {
  padding: 20px;
}

.ProductListPage h1 {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  background-color: #f9f9f9;
}

.product-item img {
  max-width: 100px;
  height: auto;
  border-radius: 4px;
  margin-right: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-details p {
  margin: 5px 0;
}

.back-button {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #45a049; /* Darker Green on hover */
}